
    {{#each posts as |post|}}
    <section class="post-list"></section>
    <div class="post">
        <div class="title">
        <h2>{{post.title}}</h2>
        <span>by {{post.user.username}} {{post.created_at}}</span>
        </div>
        
        <div class="post-content">
            <p>{{post.content}}</p>
            <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
        </div>
    </div>
  {{/each}}
</section>
